__pycache__/
*.py[cod]

.venv/
venv/
env/

.idea/
*.iml

.env
.env.*

.ipynb_checkpoints/

*.log

*.pkl
*.pickle
*.joblib
*.pt
*.pth
*.h5
*.onnx

mlruns/
mlartifacts/
*.db
*.sqlite
*.sqlite3
.idea
data/raw/
data/processed/

.DS_Store
Thumbs.db